<!DOCTYPE html>
<html lang="ch">
<head>
<title>WE大会</title>
<meta charset="utf-8" />
<meta name="keywords" content="WE大会" />
<meta name="description" content="WE大会" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />


</head>

<body class="app">

  <table>
    <tr>
      <!-- <td>userid</td> -->
      <td>code</td>
      
    </tr>
 <foreach name="data" item="vo" >
    <tr>
      <!-- <td>{$vo.userid}</td> -->
      <td>{$vo.code}</td>
     
    </tr>
 </foreach>
 
 </table>


</body>
</html>