<!DOCTYPE html>
<html lang="ch">
<head>
<title>WE大会</title>
<meta charset="utf-8" />
<meta HTTP-EQUIV="pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<meta HTTP-EQUIV="expires" CONTENT="0">
<meta name="keywords" content="WE大会" />
<meta name="description" content="WE大会" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="pragram" content="no-cache" />
<meta name="sharecontent" data-msg-img="http://www.liveapp.cn/userfiles/video/tmp/14586/541bf5545a226.jpg" data-msg-title="WE大会" data-msg-content="这里没有商业或者公司竞争,只有前沿的科学思想和最新技术，还有天马行空般的想象力。" data-msg-callBack="" data-line-img="http://www.liveapp.cn/userfiles/video/tmp/14586/541bf55b2dab0.jpg" data-line-title="WE大会" data-line-callBack=""/> 
<script type="text/javascript">
var KEY="{$key}";
var ISSENDER={$isSender};
var ISMATCHED={$isMatched};
var ISTIMEOUT={$isTimeout};
var ISWORK={$isWork};
var APP="__APP__";
var PUBLIC="__PUBLIC__";
</script>
<link rel="stylesheet" href="__PUBLIC__/css/main.css">
</head>
<body class="app">
<div class="app-loading">
  
  <div class="loading-bubbles">
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
  </div>
</div>
<div class="bg">
  <!-- <div class="bg-inner"></div> -->
  <div class="cloud cloud1"></div>
  <div class="cloud cloud3"></div>
  <canvas id="canvas" width="100%" height="100%"></canvas>
  
</div>
<section class="pages">
  
  <section class="page page-we-03 page-game">
    <section class="page-content share-content" style="display:none" >
      <p class="we-font font-08" data-animation="followSlide" data-duration="1000">邀请好友一起 </p>
      <p class="we-font font-09" data-animation="followSlide" data-delay="200" data-duration="1000">开启未来之门</p>
      <div class="we-gamebox gamebox-01" data-animation="followSlide" data-delay="400" data-duration="1000"></div>
      <div class="we-gamebox gamebox-02" data-animation="followSlide" data-delay="400" data-duration="1000"></div>
      <a href="__APP__" class="we-btn btn-01" id="btn-invite" data-animation="followSlide" data-delay="600" data-duration="1000">邀请好友</a>
      <p class="we-font font-10" data-animation="followSlide" data-delay="800" data-duration="1000">和好友一起按下指纹，打开未来之门，</p>
      <p class="we-font font-11" data-animation="followSlide" data-delay="1000" data-duration="1000">抢2014WE大会视频直播码。</p>
      <div class="u-maskLayer m-weixinShareLayer hide" style="opacity:1;">
        <img src="__PUBLIC__/pic/we_share.png">
        <p class="we-font font-32">合作机构：艾迪票务设计机构：pinnadesign</p>
      </div>
    </section>
  <!-- </section>
  <section class="page page-we-04 page-game"> -->

    <section class="page-content game-content <if condition="($isWork eq 0) OR ($isTimeout eq 1) OR ($isMatched eq 1) "> game-hide</if>" >
      <div class="game-bg" data-animation="slideToTop" data-delay="0" data-duration="1000"></div>
      <p class="we-font font-12" data-animation="slideToTop" data-delay="200" data-duration="1000">请按下您的手指</p>
      <p class="we-font font-13" data-animation="slideToTop" data-delay="400" data-duration="1000">并保持 180 秒</p>
      <p class="count-down" data-animation="slideToTop" data-delay="400" data-duration="1000">180</p>
      <div class="we-gamebox gamebox-01" data-animation="slideToTop" data-delay="600" data-duration="1000">
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
      </div>
      <div class="we-funcs" data-animation="slideToTop" data-delay="800" data-duration="1000">
        <div class="we-btn btn-fingerprint btn-fingerprint-left"><span>左</span></div>
        <div class="we-btn btn-fingerprint btn-fingerprint-right"><span>右</span></div>
      </div>
      
      <div class="we-pop tips-hide" id="tips1" data-animation="fade" data-delay="2000" data-duration="500">
        <p>时间不多了请按下您的指纹</p>
      </div>
      <div class="we-pop tips-hide" id="tips2" data-animation="fade" data-delay="2000" data-duration="500">
        <p>您还要按下另外一个指纹哦</p>
      </div>
      <div class="we-pop tips-hide" id="tips3" data-animation="fade" data-delay="2000" data-duration="500">
        <p>请让您的朋友快按下指纹吧</p>
      </div>
      <div class="we-pop tips-hide" id="tips4" data-animation="fade" data-delay="2000" data-duration="500">
        <p>您快给你的好友按下指纹吧</p>
      </div>
      <div class="we-pop tips-hide" id="tips5" data-animation="fade" data-delay="2000" data-duration="500">
        <p>您还要按下另外一个指纹哦</p>
      </div>
      <div class="we-pop tips-hide" id="tips6" data-animation="fade" data-delay="2000" data-duration="500">
        <p>请让您的朋友快按下指纹吧</p>
      </div>
    </section>
    <section class="page-content game-success" id="sender-success">
      <p class="we-font font-14" data-animation="slideToTop" data-duration="1000">恭喜您开启了未来之门！</p>
      <p class="we-font font-15" data-animation="slideToTop" data-delay="400" data-duration="1000">获得WE大会视频直播码！</p>
      <div class="we-code" data-animation="slideToTop" data-delay="600" data-duration="1000">
        <span>ZHIBOMA0256523</span>
      </div>
      <p class="we-font font-16" data-animation="slideToTop" data-delay="800" data-duration="1000">离WE大会直播还有<i>16</i>天</p>
      <a href="#" class="we-btn btn-02" data-animation="slideToTop" data-delay="1000" data-duration="1000">观看WE大会现场直播</a>
      <p class="we-font font-17" data-animation="slideToTop" data-delay="1200" data-duration="1000">请于2014年11月8日 13:00进入腾讯大学 </p>
      <p class="we-font font-18" data-animation="slideToTop" data-delay="1400" data-duration="1000">官网WE大会直播间输入直播码观看！</p>
    </section>
    <section class="page-content game-success <if condition="($isWork eq 0) OR ($isTimeout eq 1) OR ($isMatched eq 1) "> success-show</if>" id="helper-success">
      <if condition="($isMatched eq 1)">
        <p class="we-font font-19" id="tips-result" data-animation="slideToTop" data-duration="1000">您的好友已经抢到<br/>WE大会视频直播码！</p>
        <elseif condition="($isWork eq 0) OR ($isTimeout eq 1)"/>
        <p class="we-font font-19" id="tips-result" data-animation="slideToTop" data-duration="1000">亲，您的活动邀请已失效，<br/>赶快联系好友重新发送吧！</p>
        <else />
        <p class="we-font font-19" id="tips-result" data-animation="slideToTop" data-duration="1000">您的好友已经抢到<br/>WE大会视频直播码！</p>
      </if>
     
      
      <a href="__APP__" class="we-btn btn-03" id="btn-getcode" data-animation="slideToTop" data-delay="400" data-duration="1000">我也要直播码</a>
      <a href="http://mp.weixin.qq.com/s?__biz=MzA5MTMyNzAzMQ==&mid=200598274&idx=1&sn=5aa98b60ec81b62ff589aa6c1c66c9e4#rd" class="we-btn btn-04" data-animation="slideToTop" data-delay="600" data-duration="1000">关注腾讯大学</a>
    </section>
  </section>
 
</section>
<footer class="app-footer">
</footer>
<section class="page-facade guest-pop hide">
  <section class="page-content">
    <a href="javascript:void(0);" class="u-guidePrev z-move">next</a>
    <a href="javascript:void(0);" class="u-guideNext z-move">prev</a>
    <div class="outer" id="slider">
      <ul class="u_sper">
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
      </ul>
    </div>
    <a href="#" class="we-btn popback"></a>
  </section>
</section>


<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
<script type="text/javascript">

  function loadImage(url, callback) {
    var img = new Image();
     img.src = url;
     img.onload = function(){ //图片下载完毕时异步调用callback函数。
       callback.call(img);   // 将callback函数this指针切换为img。
     };
  }
  
  var images=[
    PUBLIC+'/img/bg.jpg',
    PUBLIC+'/img/gamebox_bg.png',
    PUBLIC+'/img/speaker_text.png',
    PUBLIC+'/img/we_game@2x.png',
    PUBLIC+'/img/we_sprite@2x.png',
    PUBLIC+'/img/speaker_head_bg.png',
    PUBLIC+'/img/we_code_bg.png',
  ];
  var count=0;
  for(var i=0;i<images.length;i++){
   loadImage(images[i], function(img) {
       count++;
       if(count==images.length){
          $(".app").addClass("ready");
           window.page();
           window.bg_start();
         
         
       }
   });
  }

  
</script>

</body>
</html>