<!DOCTYPE html>
<html lang="ch">
<head>
<title>抢码观看WE直播</title>
<meta charset="utf-8" />
<meta name="keywords" content="WE大会" />
<meta name="description" content="WE大会" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=37875973" charset="UTF-8"></script>
<script type="text/javascript" src="http://liveapp.cn/js/bi_new.js?v=1.0.0.1"></script>
<script type="text/javascript">
var KEY="{$key}";
var ISSENDER={$isSender};
var APP="__APP__";
var PUBLIC="__PUBLIC__";
</script>
<link rel="stylesheet" href="__PUBLIC__/css/main.css?t=1410302251">
</head>
<body class="app">
<header class="app-header">
<span class="u-globalAudio z-play">
  <i class="icon-music"></i>
  <audio src="__PUBLIC__/audio/globalAudio1.mp3" autoplay loop></audio>
  <span>关闭</span>
</span>
</header>
<div class="app-loading">
  
  <div class="loading-bubbles">
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
    <div class="bubble-container">
      <div class="bubble"></div>
    </div>
  </div>
</div>
<div class="bg">
  <!-- <div class="bg-inner"></div> -->
  <div class="cloud cloud1"></div>
  <div class="cloud cloud3"></div>
  <canvas id="canvas" width="100%" height="100%"></canvas>
    <!-- <canvas id="bg_canvas" width="100%" height="100%"></canvas> -->
   
</div>

<section class="pages">
  <section class="page page-we-01">
    <section class="page-content">
      <h1 class="we-logo" data-animation="slideToTop" data-duration="1000"></h1>
      <p class="we-font font-03" data-animation="slideToTop" data-delay="200" data-duration="1000">连接未来   改变世界</p>
      <p class="we-font font-01" data-animation="slideToTop" data-delay="400" data-duration="1000">— 马化腾</p>
      <p class="we-font font-02" data-animation="slideToTop" data-delay="600" data-duration="1000">腾讯公司首席执行官兼董事会主席</p>
      <p class="we-font font-add1" data-animation="slideToTop" data-delay="800" data-duration="1000">一站式看完全球最新科技，尽在腾讯WE大会</p>
    </section>
  </section>
  <section class="page page-we-02">
    <section class="page-content">
      <h1 class="we-logo" data-animation="slideToTop" data-duration="1000"></h1>
      <p class="we-font font-04" data-animation="slideToTop" data-delay="200" data-duration="1000">2014</p>
      <p class="we-font font-05" data-animation="slideToTop" data-delay="400" data-duration="1000">Nothing but the Future</p>
      <p class="we-font font-06" data-animation="slideToTop" data-delay="600" data-duration="1000">11  月8日 / 北京展览馆剧场</p>
      <p class="we-line" data-animation="slideToTop" data-delay="800" data-duration="1000"></p>
      <p class="we-font font-07" data-animation="slideToTop" data-delay="1000" data-duration="1000">13:00 - 18:00 12场未来演讲</p>
    </section>
  </section>
  <section class="page page-speaker">
    <section class="page-content" data-animation="slideToTop" data-delay="200" data-duration="1000">
      <div class="content" style="height:2037px;" id="wrapper">
        <div id="scroller">
          <h2 class="speaker-title" data-animation="slideToTop" data-duration="1000">为未来而来的他们大会演讲嘉宾</h2>
          <ul class="speaker-list">
            <li class="list-item" data-animation="slideToTop" data-delay="200" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_01.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">13:00 - 13:20</p>
                <p class="desc-name">David Wallerstein</p>
                <p class="desc-title">腾讯公司高级执行副总裁</p>
                <p class="desc-title">腾讯美国主席</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="400" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_02.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">13:21 - 13:40</p>
                <p class="desc-name">Martin A. Nowak</p>
                <p class="desc-title">人类社会行为学研究专家</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="600" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_03.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">13:41 - 14:00</p>
                <p class="desc-name">王阳 Matt Wang</p>
                <p class="desc-title">IBM全球副总裁</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="800" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_04.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">14:01 - 14:20 </p>
                <p class="desc-name">Daniel Leithinger  </p>
                <p class="desc-title">创新交互界面设计师 MIT媒体实验室博士</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="1000" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_05.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">14:21 - 14:40</p>
                <p class="desc-name">苏运升 Su Yunsheng</p>
                <p class="desc-title">创新智能建筑研究专家</p>
                <p class="desc-title">上海同济城市规划设计研究院</p>
                <p class="desc-title">技术开发中心主任</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="1200" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_06.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">14:41 - 15:00</p>
                <p class="desc-name">Rajinder Sodhi</p>
                <p class="desc-title">Lumenous公司联合</p>
                <p class="desc-title">创始人兼CEO</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="1400" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_07.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">15:01 - 15:30</p>
                <p class="desc-name">时间胶囊</p>
                <p class="desc-title">演讲嘉宾将预测特定领域未来5年的发展</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="1600" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_08.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">  
                <p class="desc-time">15:31 - 15:50</p>
                <p class="desc-name">Bob Richards</p>
                <p class="desc-title">奇点大学联合创始人</p>
                <p class="desc-title">未来学家Moon Express</p>
                <p class="desc-title">公司首席执行官</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="1800" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_09.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc"> 
                <p class="desc-time">15:51 - 16:10</p>
                <p class="desc-name">Jane Poynter</p>
                <p class="desc-title">World View公司联合创始人 首席执行官</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="2000" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_10.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">16:11 - 16:30 </p>
                <p class="desc-name">Tomonori Kagaya </p>
                <p class="desc-title">生物感知技术研究者</p>
                <p class="desc-title">neurowear创始人 </p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="2200" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_11.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">  
                <p class="desc-time">16:31 - 16:50</p>
                <p class="desc-name">Jose Carmena</p>
                <p class="desc-title">脑机接口权威专家</p>
                <p class="desc-title">加州大学伯克利分校任</p>
                <p class="desc-title">电子工程和神经科学副教授</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="2400" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_12.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">   
                <p class="desc-time">16:51 - 17:10</p>
                <p class="desc-name">王俊  Wang Jun</p>
                <p class="desc-title">华大基因研究院院长</p>
              </div>
            </li>
            <li class="list-item" data-animation="slideToTop" data-delay="2600" data-duration="1000">
              <span class="item-img">
                <img src="__PUBLIC__/pic/guest_img_13.jpg?t=1410181259" alt="">
              </span>
              <div class="item-desc">
                <p class="desc-time">17:11 - 17:30</p>
                <p class="desc-name">Ben Waber </p>
                <p class="desc-title">人类行为模型分析专家</p>
                <p class="desc-title">Sociometric Solutions</p>
                <p class="desc-title">公司首席执行</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <section class="page page-we-03 page-game">
    <section class="page-content share-content"  >
      <p class="we-font font-08" data-animation="slideToTop" data-duration="1000">10000个视频直播码火热申领中 </p>
      <p class="we-font font-09" data-animation="slideToTop" data-delay="200" data-duration="1000">开启未来之门</p>
      <div class="we-gamebox gamebox-01" data-animation="slideToTop" data-delay="400" data-duration="1000"></div>
      <div class="we-gamebox gamebox-02" data-animation="slideToTop" data-delay="400" data-duration="1000">
        <p>邀请一个好友</p>
        <p>共同按下指纹</p>
        <p>获取直播码</p>
      </div>
      <div class="we-btn btn-01" id="btn-invite" data-animation="slideToTop" data-delay="600" data-duration="1000">邀请好友</div>
      <p class="we-font font-10" data-animation="slideToTop" data-delay="800" data-duration="1000">和好友一起按下指纹，打开未来之门，</p>
      <p class="we-font font-11" data-animation="slideToTop" data-delay="1000" data-duration="1000">抢2014WE大会视频直播码。</p>
      <div class="u-maskLayer m-weixinShareLayer hide" style="opacity:1;">
        <img src="__PUBLIC__/pic/we_share.jpg?t=1410290953">
        <p class="we-font font-32">合作机构：艾迪票务设计机构：pinnadesign</p>
      </div>
    </section>
    <!-- <section class="page-content game-content" style="display:none">
      <div class="game-bg" data-animation="slideToTop" data-delay="0" data-duration="1000">
        <div class="game-bg-1"></div>
        <div class="game-bg-2"></div>
      </div>
      <p class="we-font font-12" data-animation="followSlide" data-delay="200" data-duration="1000">请按下您的2个指纹</p>
      <p class="we-font font-13" data-animation="followSlide" data-delay="400" data-duration="1000">秒</p>
      <p class="count-down" data-animation="followSlide" data-delay="400" data-duration="1000">300</p>
      <div class="we-gamebox gamebox-01" data-animation="followSlide" data-delay="600" data-duration="1000">
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
        <span class="fingerprint"></span>
      </div>
      <div class="we-funcs" data-animation="slideToTop" data-delay="800" data-duration="1000">
        <div class="we-btn btn-fingerprint btn-fingerprint-left"><span>左</span>
          <i class="light"></i>
        </div>
        <div class="we-btn btn-fingerprint btn-fingerprint-right"><span>右</span>
          <i class="light"></i>
        </div>
      </div>
      <div class="we-pop tips-hide" id="tips1">
        <p>时间不多了请按下您的指纹</p>
      </div>
      <div class="we-pop tips-hide" id="tips2">
        <p>您还要按下另外一个指纹哦</p>
      </div>
      <div class="we-pop tips-hide" id="tips3">
        <p>请让您的朋友快按下指纹吧</p>
      </div>
      <div class="we-pop tips-hide" id="tips4">
        <p>您快给你的好友按下指纹吧</p>
      </div>
      <div class="we-pop tips-hide" id="tips5">
        <p>您还要按下另外一个指纹哦</p>
      </div>
      <div class="we-pop tips-hide" id="tips6">
        <p>请让您的朋友快按下指纹吧</p>
      </div>
    </section> -->
    <section class="page-content game-success success-show" id="sender-success">
      <div class="cutdown-box" data-animation="slideToTop" data-delay="200" data-duration="1000">
        <div class="cutdown_tips"></div>
      </div>
      <p class="we-font font-14" data-animation="slideToTop" data-delay="400" data-duration="1000">恭喜您开启了未来之门！</p>
      <p class="we-font font-15" data-animation="slideToTop" data-delay="600" data-duration="1000">获得WE大会视频直播码！</p>
      <div class="we-code" data-animation="slideToTop" data-delay="800" data-duration="1000">
        <span>ZHIBOMA0256523</span>
      </div>
      <p class="we-font font-16" data-animation="slideToTop" data-delay="1000" data-duration="1000" id="cutdownDate">离WE大会直播还有<i>16</i>天</p>
      <a href="#" class="we-btn btn-02" data-animation="slideToTop" data-delay="1200" data-duration="1000">激活WE大会直播码</a>
      <p class="we-font font-17" data-animation="slideToTop" data-delay="1400" data-duration="1000">请于2014年11月8日 13:00进入腾讯大学 </p>
      <p class="we-font font-18" data-animation="slideToTop" data-delay="1600" data-duration="1000">官网WE大会直播间输入直播码观看！</p>
    </section>
    <section class="page-content game-success" id="helper-success">
      <p class="we-font font-19" data-animation="slideToTop" id="tips-result" data-delay="1400" data-duration="1000">您的好友已经抢到<br/>WE大会视频直播码！</p>
      <a href="__APP__" class="we-btn btn-03" data-animation="slideToTop" data-delay="1600" data-duration="1000" id="btn-getcode" >我也要直播码</a>
      <a href="http://mp.weixin.qq.com/s?__biz=MzA5MTMyNzAzMQ==&mid=200598274&idx=1&sn=5aa98b60ec81b62ff589aa6c1c66c9e4#rd" class="we-btn btn-04" data-animation="slideToTop" data-delay="1800" data-duration="1000">关注腾讯大学观看独家直播</a>
    </section>
  </section>
  <!-- <section class="page page-we-05">
    <section class="page-content">
      <p class="we-font font-14" data-animation="slideToTop" data-duration="1000">恭喜您开启了未来之门！</p>
      <p class="we-font font-15" data-animation="slideToTop" data-delay="400" data-duration="1000">获得WE大会视频直播码！</p>
      <div class="we-code" data-animation="slideToTop" data-delay="600" data-duration="1000">
        <span>ZHIBOMA0256523</span>
      </div>
      <p class="we-font font-16" data-animation="slideToTop" data-delay="800" data-duration="1000">离WE大会直播还有<i>16</i>天</p>
      <a href="#" class="we-btn btn-02" data-animation="slideToTop" data-delay="1000" data-duration="1000">激活WE大会直播码</a>
      <p class="we-font font-17" data-animation="slideToTop" data-delay="1200" data-duration="1000">slideToTop 13:00进入腾讯大学 </p>
      <p class="we-font font-18" data-animation="slideToTop" data-delay="1400" data-duration="1000">官网WE大会直播间输入直播码观看！</p>
    </section>
  </section>
  <section class="page page-we-06">
    <section class="page-content">
      <p class="we-font font-19" data-animation="slideToTop" data-duration="1000">费等费用，请小伙伴们注意喔！如须购买门票</p>
      <p class="we-font font-20" data-animation="slideToTop" data-delay="200" data-duration="1000">请从官方正规渠道进入。</p>
      <a href="#" class="we-btn btn-03" data-animation="slideToTop" data-delay="400" data-duration="1000">我也要直播码</a>
      <a href="#" class="we-btn btn-04" data-animation="slideToTop" data-delay="600" data-duration="1000">关注腾讯大学观看独家直播</a>
    </section>
  </section> -->
  <section class="page page-we-07">
    <section class="page-content">
      <h2 class="we-logo tencent-logo" data-animation="slideToTop" data-duration="1000"></h2>
      <a href="http://mp.weixin.qq.com/s?__biz=MzA5MTMyNzAzMQ==&mid=200598274&idx=1&sn=5aa98b60ec81b62ff589aa6c1c66c9e4#rd" class="we-btn btn-03" data-animation="slideToTop" data-delay="200" data-duration="1000">关注腾讯大学观看独家直播</a>
      <div class="yunlai-btn" data-animation="slideToTop" data-delay="200" data-duration="1000" id="yunlaiBtn">
        <img src="__PUBLIC__/pic/yunlai_bottom.png" alt="">
      </div>
      <div class="yunlai-pop hide" id="yunlaiPop">
        <div class="pop-mask"></div>
        <div class="pop-cont">
          <h3 class="pop-title"></h3>
          <a href="http://mp.weixin.qq.com/s?__biz=MjM5NTI3Mzk0MA==&mid=200206728&idx=1&sn=8edd0353287f322d1279e0d4eb581c2d#rd" class="yunlai-btn-a"></a>
          <a href="tel:4000168906" class="yunlai-btn-b"></a>
        </div>
      </div>
    </section>
  </section>
</section><a href="javascript:void(0);" class="u-guideTop z-move"></a>
<footer class="app-footer">
</footer>
<!-- <section class="page-facade guest-pop hide">
  <section class="page-content">
    <a href="javascript:void(0);" class="u-guidePrev z-move">next</a>
    <a href="javascript:void(0);" class="u-guideNext z-move">prev</a>
    <div class="outer" id="slider">
      <ul class="u_sper">
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
        <li><span class="imgbox"><img src="__PUBLIC__/pic/pop_img.png" width="235px"></span></li>
      </ul>
    </div>
    <a href="#" class="we-btn popback"></a>
  </section>
</section> -->
<section class="page-facade guest-pop hide">
  <section class="page-content">
    <a href="javascript:void(0);" class="u-guidePrev z-move">next</a>
    <a href="javascript:void(0);" class="u-guideNext z-move">prev</a>
    <div class="outer" id="slider">
      <ul class="u_sper">
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_03.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">David Wallerstein</h3>
              <p class="guest-en">Senior Executive Vice President and, Chairman, Tencent USA.</p>
              <p class="guest-cn">腾讯公司高级执行副总裁，腾讯美国主席</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_01.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Martin A. Nowak</h3>
              <p class="guest-en">Professor of Biology and Mathematics and Director of the Program for Evolutionary Dynamics at Harvard University, author of Supercooperators</p>
              <p class="guest-cn">人类社会行为学研究专家，《超级合作者》的作者，哈佛大学数学与生物学教授，进化动力学中心（PED）主任</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_11.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">王阳 Matt Wang</h3>
              <p class="guest-en">Vice President of IBM</p>
              <p class="guest-cn">IBM全球副总裁</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_06.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Daniel Leithinger</h3>
              <p class="guest-en">PHD at the MIT Media Lab</p>
              <p class="guest-cn">创新交互界面设计师，MIT媒体实验室博士</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_07.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">苏运升Su Yunsheng</h3>
              <p class="guest-en">Director of the Technology Development Center in Shanghai Tongji Urban Planning & Design Institute</p>
              <p class="guest-cn">创新智能建筑研究专家，上海同济城市规划设计研究院技术开发中心主任</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_09.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Rajinder Sodhi</h3>
              <p class="guest-en">Senior Research Engineer at Disney Research Pittsburgh</p>
              <p class="guest-cn">触觉交互创新者，迪斯尼匹兹堡研究中心高级研究工程师</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_13.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">时间胶囊</h3>
              <p class="guest-en">Time capsule</p>
              <p class="guest-cn">演讲嘉宾将预测特定领域未来5年的发展</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_02.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Robert (Bob) Richards</h3>
              <p class="guest-en">Co-Founder of Singularity University and Moon Express, Inc.</p>
              <p class="guest-cn">奇点大学联合创始人，未来学家，Moon Express公司首席执行官</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_05.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Jane Poynter</h3>
              <p class="guest-en">Co-Founder and CEO of World View Enterprises, Inc.</p>
              <p class="guest-cn">World View公司联合创始人、首席执行官</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_12.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Tomonori Kagaya</h3>
              <p class="guest-en">Japanese entrepreneur，Co-Founder of Neurowear</p>
              <p class="guest-cn">生物感知技术研究者、neurowear创始人</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_04.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Jose Carmena</h3>
              <p class="guest-en">Associate Professor of Electrical Engineering and Neuroscience at UC Berkeley</p>
              <p class="guest-cn">脑机接口权威专家，加州大学伯克利分校任电子工程和神经科学的副教授</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_08.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">王俊 Wang Jun</h3>
              <p class="guest-en">Director and Professor, BGI, China</p>
              <p class="guest-cn">华大基因研究院院长</p>
            </div>
          </div>
        </li>
        <li>
          <div class="guest-card">
            <span class="imgbox"><img src="__PUBLIC__/pic/pop_img_10.jpg?t=1410181301" width="268px"></span>
            <div class="guest-desc">
              <h3 class="guest-name">Ben Waber</h3>
              <p class="guest-en">CEO of Sociometric Solutions</p>
              <p class="guest-cn">人类行为模型分析专家，Sociometric Solutions公司首席执行官</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>

<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js?t=1410302251"></script>
<script type="text/javascript">

  function loadImage(url, callback) {
    var img = new Image();
     img.src = url;
     img.onload = function(){ //图片下载完毕时异步调用callback函数。
       callback.call(img);   // 将callback函数this指针切换为img。
     };
  }
  
  var images=[
    PUBLIC+'/img/bg.jpg',
    PUBLIC+'/img/gamebox_bg.png',
    PUBLIC+'/img/speaker_text.png',
    PUBLIC+'/img/we_game@2x.png',
    PUBLIC+'/img/we_sprite@2x.png',
    PUBLIC+'/img/speaker_head_bg.png',
    PUBLIC+'/img/we_code_bg.png',
  ];
  var count=0;
  for(var i=0;i<images.length;i++){
   loadImage(images[i], function(img) {
       count++;
       if(count==images.length){

          $(".app").addClass("ready");
           window.page();
           window.bg_start();
          window.finger();
         window.share();
       }
   });
  }

  $(function(){
    var $this = $(".u-globalAudio"),$audio = $this.find('audio')[0],$text = $this.find('span');
    if($.os.android){
      $(document).one('touchstart',function(e){
        $audio.play();
      })
    }
    $this.on('tap',function(){
      if ($this.hasClass('z-play')) {
        $this.removeClass('z-play');
        $audio.pause();
        $text.addClass('z-show').text('关闭');
        setTimeout(function(){
          $text.removeClass('z-show')
        },300);
      }else{
        $this.addClass('z-play');
        $audio.play();
        $text.addClass('z-show').text('开启');
        setTimeout(function(){
          $text.removeClass('z-show')
        },300);
      };
    });

    // var $yunlaiBtn = $('#yunlaiBtn'),$yunlaiPop = $('#yunlaiPop'),$mask = $yunlaiPop.find('.pop-mask');
    // $yunlaiBtn.on('tap',function(){
    //   $yunlaiPop.removeClass('hide');
    // });
    // $mask.on('tap',function(){
    //   $yunlaiPop.addClass('hide');
    // });


  });
  var interval = 1000; 
  function ShowCountDown(year,month,day,divname) 
  { 
    var now = new Date(); 
    var endDate = new Date(year, month-1, day); 
    var leftTime=endDate.getTime()-now.getTime(); 
    var leftsecond = parseInt(leftTime/1000); 
    //var day1=parseInt(leftsecond/(24*60*60*6)); 
    var day1=Math.floor(leftsecond/(60*60*24)); 
    var hour=Math.floor((leftsecond-day1*24*60*60)/3600); 
    var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60); 
    var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60); 
    var cc = document.getElementById(divname);
    var leftHour = Math.floor(24-11-hour);
    if (day1 > 0) {
      cc.innerHTML = "离WE大会直播还有<i>"  + day1 +"</i>天";
    }else if(day1 == 0 && leftHour !=0){
      cc.innerHTML = "WE大会直播倒计时：<i class='time'>" + Math.floor(24-11-hour)+"</i>时<i class='time'>"+ minute+"</i>分";
    }else if(day1 == 0 && leftHour == 0 && minute == 0 || day1 <= 0){
      cc.innerHTML = "WE大会直播已经开始！";
    }
    
  } 
  window.setInterval(function(){ShowCountDown(2014,11,08,'cutdownDate');}, interval); 
</script>

</body>
</html>